{
	email {$ACME_EMAIL}
}

(authentik) {
	reverse_proxy /outpost.goauthentik.io/* http://authentik-server:9000

	forward_auth http://authentik-server:9000 {
		uri /outpost.goauthentik.io/auth/caddy
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
	}
}

*.{$BASE_DOMAIN} {
	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}

	@homepage host homepage.{$BASE_DOMAIN}
	handle @homepage {
		reverse_proxy homepage:3000
	}

	@unraid host unraid.{$BASE_DOMAIN}
	handle @unraid {
		reverse_proxy https://tower:444 {
			transport http {
				tls_insecure_skip_verify
			}
			header_up Host {host}
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-Port {server_port}
		}
	}

	@dockge host dockge.{$BASE_DOMAIN}
	handle @dockge {
		reverse_proxy http://dockge:5001
	}

	@authentik host authentik.{$BASE_DOMAIN}
	handle @authentik {
		reverse_proxy http://authentik-server:9000
	}

	@czkawka host czkawka.{$BASE_DOMAIN}
	handle @czkawka {
		reverse_proxy http://czkawka:5800
	}

	@wud host wud.{$BASE_DOMAIN}
	handle @wud {
		reverse_proxy http://wud:3000
	}

	@ugreen host ugreen.{$BASE_DOMAIN}
	handle @ugreen {
		reverse_proxy https://ugreen.{$TAILNET_DOMAIN}:9443 {
			transport http {
				tls_insecure_skip_verify
			}
			header_up Host {host}
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-Port {server_port}
		}
	}

	@ugreenBackrest host ugreen-backrest.{$BASE_DOMAIN}
	handle @ugreenBackrest {
		reverse_proxy http://ugreen.{$TAILNET_DOMAIN}:9898
	}

	@qbittorrent host qbittorrent.{$BASE_DOMAIN}
	handle @qbittorrent {
		import authentik
		reverse_proxy http://gluetun:8080
	}

	@immich host immich.{$BASE_DOMAIN}
	handle @immich {
		reverse_proxy http://immich_server:2283
	}

	@grafana host grafana.{$BASE_DOMAIN}
	handle @grafana {
		reverse_proxy http://grafana:3000
	}

	@prometheus host prometheus.{$BASE_DOMAIN}
	handle @prometheus {
		reverse_proxy http://prometheus:9090
	}

	@healthchecks host healthchecks.{$BASE_DOMAIN}
	handle @healthchecks {
		reverse_proxy http://healthchecks:8000
	}

	handle {
		respond "Not found" 404
	}
}
