{
	#acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	email jakob@edvardsson.tech
}

*.edvardsson.tech {
	tls {
		dns cloudflare {
			zone_token {env.CF_ZONE_TOKEN}
			api_token {env.CF_API_TOKEN}
		}
		resolvers 1.1.1.1
	}
	@jellyfin host jellyfin.edvardsson.tech
	handle @jellyfin {
		reverse_proxy binhex-jellyfin:8096
	}
	@immich host immich.edvardsson.tech
	handle @immich {
		reverse_proxy immich_server:2283
	}
	@authentik host authentik.edvardsson.tech
	handle @authentik {
		reverse_proxy authentik_server:9000
	}
}
