TZ=Europe/Stockholm
PUID=99
PGID=100

BASE_DOMAIN=edvardsson.dev
TAILNET_DOMAIN=tailc229ea.ts.net
ACME_EMAIL=jakob@edvardsson.dev
CLOUDFLARE_API_TOKEN=replace-me

APPDATA_ROOT=/mnt/user/appdata
MEDIA_ROOT=/mnt/user/data/media
DOWNLOADS_ROOT=/mnt/user/data/downloads
IMMICH_LIBRARY_ROOT=/mnt/user/data/immich/library
IMMICH_THUMBS_ROOT=/mnt/user/data/immich/thumbs
IMMICH_ENCODED_VIDEO_ROOT=/mnt/user/data/immich/encoded-video
IMMICH_PROFILE_ROOT=/mnt/user/data/immich/profile
IMMICH_BACKUPS_ROOT=/mnt/user/data/immich/backups
IMMICH_MODEL_CONFIG_ROOT=/mnt/user/appdata/immich/model-config
IMMICH_MODEL_CACHE_ROOT=/mnt/user/appdata/immich/model-cache

JELLYFIN_PUBLISHED_PORT=8096
JELLYSEERR_PUBLISHED_PORT=5055
PROWLARR_PUBLISHED_PORT=9696
RADARR_PUBLISHED_PORT=7878
SONARR_PUBLISHED_PORT=8989
BAZARR_PUBLISHED_PORT=6767
DELUGE_WEB_PUBLISHED_PORT=8112
IMMICH_PUBLISHED_PORT=2283
GRAFANA_PUBLISHED_PORT=3000
PROMETHEUS_PUBLISHED_PORT=9090
HEALTHCHECKS_PUBLISHED_PORT=8000
HOMEPAGE_PUBLISHED_PORT=3001

VPN_SERVICE_PROVIDER=custom
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=replace-me
WIREGUARD_ADDRESSES=10.2.0.2/32
WIREGUARD_PUBLIC_KEY=replace-me
WIREGUARD_ENDPOINT_IP=replace-me
WIREGUARD_ENDPOINT_PORT=51820
WIREGUARD_PRESHARED_KEY=
VPN_DNS_ADDRESS=10.2.0.1

DELUGE_PASSWORD=replace-me

IMMICH_VERSION=release
DB_USERNAME=immich
DB_PASSWORD=replace-me
DB_DATABASE_NAME=immich

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=replace-me

HEALTHCHECKS_SECRET_KEY=replace-me
